.card-4 {
  max-width: 100% !important;
  padding: 8rem 0;
  background-color: $first-color;
  display: grid;
  place-items: center;

  h2 {
    color: $second-color;
    margin: 0;
  }

  figure {
    max-width: 85%;
    background-color: $second-color;

    figcaption {
      text-align: start;
      transition: background-color 0.3s ease;

      h3 {
        color: $first-color;
      }

      p {
        color: $light-gray-color;
      }

      .button {
        align-self: start;
      }

      &:hover {
        background-color: $body-color;
      }
    }
  }
}

@media (max-width: 768px) {
  .card-4 {
    figure {
      display: flex;
      flex-direction: column;
      flex: 1;

      figcaption {
        padding: 4% 8% 14% 8%;
      }
    }
  }
}
