@import "./Variables";

.slider-box {
  top: 6.5rem;
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  margin: 0 0 8rem 0;

  .slider {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.8s ease-in-out;

    div {
      flex: 0 0 100%;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .indicators {
    position: absolute;
    left: 50%;
    bottom: 1rem;
    transform: translateX(-50%);
    @include flex-center;
    gap: 1rem;

    span {
      display: inline-block;
      width: $h3-font-size;
      height: $h3-font-size;
      border-radius: 50%;
      background-color: darken($first-color, 7);
      cursor: pointer;
      transition: all 0.3s;
      border: 1px solid $second-color;
    }

    .active {
      transition: all 0.3s;
      background-color: $first-color;
      transform: scale(1.3);
      border-width: 2px;
    }
  }

  .time-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: hsl(39, 100%, 50%);
    // backdrop-filter: invert(80%);
  }
}

.slide {
  position: relative;

  .sponsor {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
    height: 100%;
    transition: all 0.3s;
    @include flex-center-column;
    clip-path: ellipse(90% 100% at 0% 50%);
    background-color: hsla(0, 0%, 50%, 0.7);
    backdrop-filter: blur(5px);

    &:hover {
      clip-path: ellipse(93% 100% at 0% 50%);
    }

    figure {
      max-width: 60%;
      min-height: 65%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 2rem;

      img {
        width: 100%;
        height: auto;
      }

      figcaption {
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        text-wrap: balance;

        h2 {
          font-size: clamp($h1-font-size, 3vw, 5rem);
          font-weight: $font-semi-bold;
          color: $second-color;
        }

        p {
          color: $light-gray-color;
          font-size: clamp($h3-font-size, 1.3vw, 2rem);
          color: $black-color;
        }
      }

      .button {
        align-self: start;
        font-size: $h2-font-size;
        position: relative;
        background-color: $first-color;

        &::before,
        &::after {
          content: "";
          position: absolute;
          z-index: -1;

          animation: buttonAnimation 5s linear;
        }
        &::before {
          border-radius: 0.4rem;
          box-shadow: 0px 0px 6px $first-color;
          opacity: 1;
          transform: scale(1);
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
        &::before,
        &::after {
          animation: buttonAnimation;
          animation-duration: 2.5s;
          animation-iteration-count: infinite;
          animation-timing-function: ease-in-out;
        }
      }

      @keyframes buttonAnimation {
        0% {
          box-shadow: 0px 0px 16px 8px darken($first-color, 5);
          opacity: 01;
          // transform: scale(1.5);
        }
        50% {
          box-shadow: 0px 0px 2px 4px darken($first-color, 15);
          opacity: 0.1;
          // transform: scale(1);
        }
        100% {
          box-shadow: 0px 0px 16px 8px darken($first-color, 5);
          opacity: 1;
          // transform: scale(1.5);
        }
      }
    }
  }
}

.slide-image {
  object-position: right;
}

@media (max-width: 768px) {
  .slider-box {
    height: 78vh;
    top: 5.3rem;
    .indicators {
      bottom: 0.5rem;
      display: flex;
      gap: 0;
      justify-content: space-evenly;
      width: 80%;
    }
  }
  .slide {
    .sponsor {
      background-color: hsla(0, 0%, 50%, 0.7);

      width: 100%;
      left: 50%;
      padding: 0 3rem 0 0;
      figure {
        left: 0;
        max-width: 85%;
        min-height: 45%;
        figcaption {
          h2 {
            font-size: 2.5rem;
          }
          p {
            font-size: $h2-font-size;
          }
        }
        .button {
          font-size: $h3-font-size;
        }
      }
    }
  }
}
