$header-height: 4.5rem;

// Color
$first-color: hsl(67, 100%, 43%);
$second-color: hsl(232, 37%, 17%);
$navbar-color: hsla(0, 0%, 0%, .7);
$light-gray-color: hsl(0, 0%, 90%);
$dark-gray-color: hsl(0, 0%, 40%);
$white-color: hsl(0, 0%, 100%);
$body-color: hsl(232, 37%, 13%);
$black-color: hsl(0, 0%, 0%);

// Font & typography
$body-font: "Lato", sans-serif;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$normal-font-size: 0.938rem;
$small-font-size: 0.813rem;
$smaller-font-size: 0.75rem;

// Font weight
$font-medium: 500;
$font-semi-bold: 600;

// z index
$z-tooltip: 10;
$z-fixed: 100;

// loader
$spinner-size: 5rem;
$spinner-margin: 2.5rem;
$spinner-transition-duratio2: 1.2s;

// Responsive typography
@media screen and (min-width: 968px) {
  :root {
    $h1-font-size: 2.25rem;
    $h2-font-size: 1.5rem;
    $h3-font-size: 1.25rem;
    $normal-font-size: 1rem;
    $small-font-size: 0.875rem;
    $smaller-font-size: 0.813rem;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin animation-1 {
  border-radius: 0.25rem;
  transition: all 0.2s ease;

  &:hover {
    transition: all 0.2s ease;
    background-color: $second-color;
    color: $first-color;
  }

  &:active {
    transition: all 0.2s ease;
    transform: translateY(1px) translateX(1px);
  }
}

@keyframes openDropdown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $navbar-color;
  backdrop-filter: blur(20px);
  z-index: $z-tooltip;
  box-shadow: 1px 1px 10px black;

  nav {
    max-width: 90%;
    margin: 0 auto;
    height: 6.5rem;
    @include space-between;
    bottom: 0;
    transition: all 0.1s ease-in-out;

    &.scrolled {
      height: $header-height;
      transition: all 0.1s ease-in-out;
    }
  }

  .img {
    width: 10rem;
    @include animation-1;

    img:hover {
      transform: scale(1.01);
    }
  }

  .navlinks {
    @include space-between;
    gap: 1rem;
    font-size: $h3-font-size;

    a {
      color: $white-color;
      padding: 0.5rem 0.8rem;
      @include animation-1;
    }

    .icons {
      @include flex-center;
      gap: 0.5rem;

      .icon,
      .iconDownload {
        font-size: $h1-font-size;
        cursor: pointer;
        color: $white-color;
        padding: 0.5rem;
        @include animation-1;
      }

      .iconDownload {
        height: auto;
        width: auto;
        margin: 0;
        padding: 0;

        ~ .open-rotate,
        ~ .close-rotate {
          display: none;
        }
      }

      .dropdown {
        &-menu {
          width: auto;
          left: 0%;
        }

        ul {
          display: flex;

          li {
            border-right: 2px solid $light-gray-color;

            a {
              padding: 0.3rem 2rem;
              font-size: $small-font-size;

              .iconApp {
                font-size: 2.2rem;
              }
            }

            &:last-child {
              border-right: none;
            }
          }
        }
      }
    }
  }

  .dropdown {
    position: relative;
    display: inline-block;

    &-toggle {
      cursor: pointer;
      @include space-between;
      color: $white-color;
      padding: 0.5rem;
      border-radius: 0.25rem;
      gap: 1rem;
      @include animation-1;

      .open-rotate {
        transform: rotate(180deg);
        transition: transform 0.1s;
      }

      .close-rotate {
        transform: rotate(0);
        transition: transform 0.1s;
      }
    }

    &-toggle-open {
      background-color: $second-color;
      color: $first-color;

      &:hover {
        background-color: $navbar-color;
        color: $white-color;
      }
    }

    &-menu {
      background-color: $body-color;
      margin: 0.6rem 0 0 0;
      width: max-content;
      position: absolute;
      top: 100%;
      left: -80%;
      z-index: $z-tooltip;
      padding: 0.5rem;
      border-radius: 0.25rem;
      box-shadow: 0px 1px 10px 0.1px $dark-gray-color;

      li {
        display: grid;
        place-items: center;

        &:last-child {
          border-bottom: none;
        }

        a {
          padding: 0.7rem 3rem;
          width: 100%;
          text-align: center;
          color: $white-color;
          border-radius: 0.25rem;
          @include animation-1;
        }
      }

      .more {
        .dropdown {
          width: 100%;

          &-toggle {
            @include flex-center;

            .open-rotate,
            .close-rotate {
              display: none;
            }
          }

          &-menu {
            top: -420%;
            left: -160%;
            width: max-content;
          }
        }
      }
    }

    .true {
      left: -450% !important;
    }

    &-menu-open {
      animation-name: openDropdown;
      animation-duration: 0.3s;
    }

    &-menu-close {
      opacity: 0;
      transition: opacity 3s;
    }
  }
}
